.description__block {
  padding: 15px;
  padding-top: 50px;
  width: 650px;
  margin: 0 auto;
  min-height: 400px;
}
.description__textarea {
  padding: 10px;
  margin-top: 15px;
}
b {
  color: rgb(57, 71, 192);
  text-transform: uppercase;
}
