@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
}
.App {
  margin: 30px auto;
  // width: 700px;
  // border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 3px 15px rgb(41, 39, 39);

  min-height: 100vh;
}
.App__dark {
  margin: 30px auto;
  // width: 700px;
  // border-radius: 25px;
  background-color: #141321;
  box-shadow: 0 3px 15px rgb(41, 39, 39);
}
.container {
  // max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #ffffff;
  height: 100%;
}
.container__dark {
  // max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #141321;
}
.form {
  display: flex;
  width: 100%;
  padding: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.input-text {
  flex: 9;
  font-size: 14px;
  padding: 12px 15px;
  border: none;
  outline: none;
  font-weight: 400;
  max-width: 95%;
  background-color: inherit;
  color: #ffffff;

  // &::placeholder {
  //   color: rgb(17, 17, 17);
  //   opacity: 0.8;
  // }
}
.header__img {
  width: 250px;
  height: 400px;
  display: block;
  padding-top: 10px;
  margin: 0 auto;
}

.input-submit {
  width: 46px;
  height: 38px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #1774ff;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;

  outline: none;
}

.error__red {
  color: red;
}
.correct {
  color: green;
}
