.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(136, 139, 173);

  a {
    color: white;
    text-decoration: none;
  }
}
.nav__logo img {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-left: 10px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-right: 10em;
}

li {
  margin-right: 25px;
}
.activeLink {
  color: rgb(195, 77, 61) !important;
  font-size: 18px;
  font-weight: 700;
}
